<!--
including header content which is common for all pages
-->
<!DOCTYPE HTML>
<html>
<head>
	<title>eChanneling Home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel="icon" type="image/png" href="images/icons/booked.png"/>
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>
	<!-- Header -->
		<header id="header">
			<a class="logo" href="index.html">eChanneling</a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

	<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="index">Home</a></li>
				<li><a href="signup">Create Account</a></li>
				<li><a href="login">Login</a></li>
				<li><a href="institute">Institute</a></li>
				<li><a href="doctor">Register Doctor</a></li>
				<li><a href="institutelist">Institue View</a></li>
				<li><a href="doctorslist">Doctors View</a></li>
			</ul>
		</nav>
		<h1> Edit Institutes </h1>
		<form action="/users/edit/<%= id %>" method="post" name="form1">
			<table width="25%" border="0">
				<tr>
					<td>Name</td>
					<td><input type="text" name="name" id="name" value="<%= institutename %>" /></td>
				</tr>
				<tr>
					<td>Age</td>
					<td><input type="text" name="age" value="<%= address %>" /></td>
				</tr>
				<tr>
					<td>Email</td>
					<td><input type="text" name="email" value="<%= contact %>" /></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" name="Submit" value="Edit" /></td>
				</tr>
			</table>
			<input type="hidden" name="_method" value="PUT" />
		</form>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Accumsan montes viverra</h3>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
						</section>
						<section>
							<h4>Sem turpis amet semper</h4>
							<ul class="alt">
								<li><a href="#">Dolor pulvinar sed etiam.</a></li>
								<li><a href="#">Etiam vel lorem sed amet.</a></li>
								<li><a href="#">Felis enim feugiat viverra.</a></li>
								<li><a href="#">Dolor pulvinar magna etiam.</a></li>
							</ul>
						</section>
						<section>
							<h4>Magna sed ipsum</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; e-Channeling by <a href="https://unsplash.co">Innoviax Inc</a>.
					</div>
				</div>
			</footer>
			<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
</body>
</html>

<!--
including footer content which is common for all pages
-->
