<!-- views/signup.ejs -->
<!doctype html>
<html>

<head>
	<title>eChanneling - Sign Up</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

	<link rel="stylesheet" href="/assets/css/main.css" />
	<!-- load fontawesome -->
	<style>
		body {
			padding-top: 80px;
		}
	</style>
</head>

<body>
	<!-- Header -->
	<header id="header">
		<a class="logo" href="home">eChanneling</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>
	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li>
				<a href="adminhome">Home</a>
			</li>
			<li>
				<a href="adminlogout">Logout</a>
			</li>
		</ul>
	</nav>
				<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h2>
					Institute Registration
					</h2>

					<div class="col-md-3"></div>
					<div class="col-md-6 limiter">
						<div class="wrap-login100">
							<!-- LOGIN FORM -->
							<form action="/institute" method="post">
								<div class="form-group">

									<input type="text" class="form-control" name="institutename" placeholder="Institute Name" required >
								</div>
								<div class="form-group">

									<input type="text" class="form-control" name="address" placeholder="Address" required>
								</div>

								<div class="form-group">
									<input type="text" class="form-control" name="contact" placeholder="Contact" required>
								</div>

								<button type="submit" class="btn btn-warning btn-lg">Register</button>
							</form>

						</div>
					</div>
					<div class="col-md-3"></div>
				</div>
			</section>
	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/browser.min.js"></script>
	<script src="assets/js/breakpoints.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>
